.depend
Makefile
configure
version.ml
autom4te.cache/
config.log
config.status
*.o
*.cmi
*.cmo
*.cmx
*.cma
*.cmxa
combine.byte
combine.opt
combine.a
test.byte
test.opt
test.dot
sudoku.byte
sudoku.opt
queens.byte
queens.opt
backslide.byte
backslide.opt
.*.swp
lexer.ml
parser.ml
parser.mli
parser.automaton
parser.output
*~
*.annot
doc
*.conflicts
*.dvi
*.nav
*.snm
*.out
*.vrb
test.svg
test.sat
export
jfla-2013/main.pdf
jfla-2013/talk/slides.pdf
/www/download/
/www/*.ml*.html
color.opt
/tests/*.svg
*.dimacs
/solutions/
_obuild
ocp-build.*
