.depend
Makefile
configure
version.ml
autom4te.cache/
config.log
config.status
*.o
*.cm*
reml.byte
reml.opt
reml.a
test.byte
test.opt
test.dot
sudoku.byte
sudoku.opt
queens.byte
queens.opt
.*.swp
lexer.ml
parser.ml
parser.mli
parser.automaton
parser.output
*~
*.annot
doc
*.conflicts
*.dvi
*.nav
*.snm
*.out
*.vrb
test.svg
export
/www/download/
/www/*.ml*.html
