.depend
Makefile
configure
version.ml
autom4te.cache/
config.log
config.status
*.o
*.cm*
reml.byte
reml.opt
test.opt
test.dot
sudoku.opt
queens.opt
.*.swp
lexer.ml
parser.ml
parser.mli
parser.automaton
parser.output
*~
*.annot
doc
*.conflicts
